black
isort
git+https://github.com/make-all/pytest-homeassistant-custom-component@master#egg=pytest-homeassistant-custom-component
pytest
pytest-asyncio
pytest-cov
pycryptodome~=3.14.1
tinytuya~=1.3.1
