fuzzywuzzy
infrared-protocols~=1.1.0
levenshtein
PyTurboJPEG~=1.8.0
pytest-homeassistant-custom-component==0.13.321
pytest
pytest-asyncio
pytest-cov
pytest-mock
ruff
tinytuya~=1.17.6
tuya-device-sharing-sdk~=0.2.8
yamllint
