fuzzywuzzy
levenshtein
pycares~=4.11.0
PyTurboJPEG~=1.7.5
pytest-homeassistant-custom-component==0.13.308
pytest
pytest-asyncio
pytest-cov
ruff
tinytuya~=1.17.4
tuya-device-sharing-sdk~=0.2.1
yamllint
