name: Validate with HACS

on:
  push:
  pull_request:
  schedule:
    - cron: '43 0 * * THU'

jobs:
  validate:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v2'
      - name: HACS validation
        uses: 'hacs/action@main'
        with:
          category: 'integration'
          ignore: 'wheels'
