name: Validate with hassfest

on:
  push:
  pull_request:
  schedule:
    - cron: '1 18 * * THU'

jobs:
  validate:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v2'
      - uses: home-assistant/actions/hassfest@master
